services:
  p4c-web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - '3001:3001'
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules # Prevents local node_modules from overwriting container's
    restart: always
